<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Go Lite</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/styles.css" />
	
    <script src="/js/start.js" type="text/javascript" defer></script>

    <script type='text/javascript'>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'INSERTGAIDHERE']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

</head>

<body>

	<header></header>

    <main id="start">
		<section id="new">
            <h1>Go <span>Lite</span></h1>
            <h4>A simple way to try the world's oldest continually played board game.</h4>
            <!-- <h4>The world's oldest continually played board game.</h4> -->
			<button>Start a New Game</button>
		</section>
		<section id="join">
            <div id="enter">
                <button>Join A Game</button>
                <button>Spectate Random Game</button>
            </div>

            <div id="livegames">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>

            <div id="photocredit">Photo by <a href="https://unsplash.com/photos/HG5QX-GXV5A?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Ren Ran</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></div>
        </section>
	</main>
	
	<footer></footer>

    <script src="/socket.io/socket.io.js"></script>
    <script>var socket = io();</script>

</body>

</html>
