body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
main {
  display: flex;
  margin: 50px;
}
main section#boardcontainer {
  background: #dadada;
}
main section#boardcontainer svg#board line.line {
  stroke: #888;
}
main section#boardcontainer svg#board circle.star {
  fill: #888;
}
main section#boardcontainer svg#board text.notation {
  fill: #ccc;
}
main section#boardcontainer svg#board circle.point {
  opacity: 0;
}
main section#boardcontainer svg#board circle.point[data-owner='b'] {
  opacity: 1;
  fill: #000;
}
main section#boardcontainer svg#board circle.point[data-owner='w'] {
  opacity: 1;
  fill: #fff;
}
main section#boardcontainer svg#board circle.point:hover:not([data-owner='b']):not([data-owner='w']) {
  opacity: .4;
  fill: #bada55;
}
main section#boardcontainer.playerstoneswhite svg#board {
  transform: rotate(180deg);
}
main section#detail {
  width: 200px;
  margin-left: 100px;
}
/* orientation switch for white stones */
